/* hidng header images on mobile */
@media (max-width: 700px) {
  .open-source-header {
    visibility: hidden;
    display: none;
  }
}

.base-image {
  width: 30vw;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}
